.wrapper-filter-webcam {
	border: 2px solid red;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.photo-user {
	display: inline-flex;
	flex-direction: column;
	/*background-color: blue;*/
}

.choose-filter {
	margin: 15px;
}

.webcam-live {
	margin: 15px;
}

#startbutton {
	margin: 15px;
}

.wrapper-user-photo {
	border: 2px solid red;
	display: inline-flex;
	/* flex-direction: column; */
	align-items: center;
	flex-wrap: wrap;
}

.container {
	display: flex;
}

