.wrapper-filter-webcam {
	/*border: 2px solid grey;*/
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	background-color: #FAFAFA;
}

.wrapper-filter {
	display: flex;
	align-items: flex-end;
	margin-top: 20px;
}

.filter-img {
	margin: 10px;
}

.photo-user {
	display: inline-flex;
	flex-direction: column;
	margin: 0 5px;
}

.choose-filter {
	margin: 15px;
}

.webcam-live {
	margin: 15px;
}

#startbutton {
	margin: 15px;
}

.wrapper-user-photo {
	border: 2px solid #FAFAFA;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.container {
	display: flex;
}
